@charset "UTF-8";

$regular: 'Roboto', sans-serif;
$secondary: 'Montserrat', sans-serif;
$red: #e03e2f;
$black: #2b2a29;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-vichy.es-vichy {
  font-family: $regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #111;
  }

  .es-title {
    @include text;
    margin-top: 50px;
    font-family: $secondary;
    font-size: 25px;
    text-align: left;
    margin-bottom: 32px;
    margin-left: 20px;

    & span {
      font-weight: 700;
    }
  }

  .es-kv {
    background: #fff;
    &__images {
      padding: 0 16px;
      padding-top: 37px;
      padding-bottom: 45px;
    }
    &__logo {
      margin-bottom: 20px;
      opacity: 0;
      animation: slidedown 0.6s ease forwards;
    }
    &__claim {
      margin-bottom: 32px;
      opacity: 0;
      animation: slidedown 0.6s ease forwards;
      animation-delay: 0.3s;
    }
    &__packshot {
      opacity: 0;
      animation: slidedown 0.6s ease forwards;
      animation-delay: 0.6s;
    }
    &__disc-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5px;
    }
    &__disc {
      @include text;
      font-size: 14.78px;
      text-align: left;
      text-transform: uppercase;
      max-width: 190px;
      & span {
        font-weight: 900;
      }
    }
    &__photo {
      position: relative;
    }
    &__img {
      @include img;
      &--photo {
        width: 100%;
        object-fit: cover;
      }
    }
    &__title-img {
      @include img;
      max-width: 80%;
      margin-left: -8px;
    }
    &__content {
      background: url('images/photo.jpg') center / cover no-repeat;
      padding-top: 45px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 365px;
    }
    &__title {
      @include text;
      padding: 32px 24px;
      color: #fff;
      text-transform: uppercase;
      font-size: 26px;
      text-align: right;
      opacity: 0;
      animation: slideright 0.6s ease forwards;
      animation-delay: 0.9s;
    }
  }

  .es-icons {
    background-color: #f4f4f4;
    display: none;

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      max-width: 211px;
    }

    &__title {
      @include text;
      font-family: $secondary;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .es-info {
    &__wrapper {
      min-height: 382px;
      background: #fff url(images/info-image.png) -190px -20px no-repeat;
      background-size: contain;
    }

    &__steps {
      list-style: none;
    }

    &__steps-item {
      margin-bottom: 40px;
    }

    &__text {
      position: relative;
      @include text;
      font-family: $secondary;
      font-size: 11px;
      // margin-bottom: 20px;

      &--bold {
        font-weight: 700;
      }

      &--1 {
        margin-left: 10%;

        &::before {
          content: '';
          width: 30px;
          height: 30px;
          background: url(images/list-icon-1-m.png) no-repeat;
          position: absolute;
          top: 0px;
          left: -42px;
        }
      }
      &--2 {
        margin-left: 38%;

        &::before {
          content: '';
          width: 30px;
          height: 30px;
          background: url(images/list-icon-2-m.png) no-repeat;
          position: absolute;
          top: 4px;
          left: -50px;
        }
      }
      &--3 {
        margin-top: 70px;
        margin-left: 40%;

        &::before {
          content: '';
          width: 30px;
          height: 30px;
          background: url(images/list-icon-3-m.png) no-repeat;
          position: absolute;
          top: -5px;
          left: -45px;
        }
      }
      &--4 {
        margin-top: 60px;
        margin-left: 15%;

        &::before {
          content: '';
          width: 30px;
          height: 30px;
          background: url(images/list-icon-4-m.png) no-repeat;
          position: absolute;
          top: -7px;
          left: -49px;
        }
      }
    }
  }

  .es-dermatologits {
    // background-color: f2f4f6;

    &__title {
      margin-top: 0;
    }

    &__wrapper {
      // background: url('./images/dermatologist-bg.png') no-repeat;
      // background-size: contain;
      // min-height: 410px;
    }

    &__image {
      @include img;
    }

    &__subtitle {
      @include text;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      font-family: $secondary;
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: #f2f4f6;
      text-align: center;

      & sup {
        margin-left: -10px;
        margin-top: 15px;
        align-self: normal;
        display: inline-block;
        vertical-align: baseline;
      }

      & span {
        font-size: 50px;
        color: $red;
      }
    }
  }

  .es-ingr {
    // margin-bottom: 64px;
    padding: 0 16px;
    &__title {
      @include text;
      margin-top: 50px;
      font-size: 22px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 32px;
    }
    &__container {
      position: relative;
      padding: 0 12px;
      margin: 0 -24px;
    }
    &__slides {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
    }
    &__single {
      width: 240px;
      padding: 0 12px;
      &:not(:last-child) {
        margin-bottom: 32px;
      }
      &--1 {
        margin-top: -127px;
        // max-width: 300px;
      }
    }
    &__image {
      position: relative;
    }
    &__img {
      @include img;
      max-width: 300px;

      &--mobile {
        max-width: 208px;
      }
      &--mobile-big {
        margin-top: -65px;
        max-width: 240px;
      }
    }
    &__text {
      @include text;
      font-family: 'Montserrat';
      font-size: 13px;
      text-align: center;
    }
    &__label {
      min-height: 80px;
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 14px 16px;
      background: rgba(255, 255, 255, 0.66);
      // transform: translate(-50%, -50%);
      // position: absolute;
      // top: 50%;
      // left: 50%;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .slick-button-prev {
    position: absolute;
    top: 20%;
    left: 15px;
    rotate: 180deg;
  }

  .slick-button-next {
    position: absolute;
    top: 20%;
    right: 15px;
  }

  .slick-slide {
    opacity: 0.7;
  }

  .slick-current {
    opacity: 1;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-arrow.slick-disabled {
    display: none !important;
  }

  .es-cross {
    padding: 0 16px;
    &__title {
      @include text;
      font-size: 22px;
      text-align: center;
      margin-bottom: 40px;
      font-weight: 700;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      margin: 0 -16px;
    }
    &__img {
      @include img;
      max-height: 400px;
    }
    &__single {
      max-width: 250px;
      margin-bottom: 32px;
      padding: 0 8px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      &:hover .es-cross__icon {
        transform: scale(1.2);
      }
    }
    &__wrapper {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
    }
    &__subtitle {
      @include text;
      font-size: 16px;
      text-align: center;
      margin-bottom: 16px;
      strong {
        display: block;
      }
    }
    &__text {
      @include text;
      font-size: 12px;
      text-align: center;
      margin-bottom: 16px;
    }
    &__link {
      @include text;
      color: #fff;
      background: $red;
      font-size: 10px;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
      padding: 6px 24px;
      margin-bottom: 16px;
      border: 1px solid $red;
      transition: all 0.3s ease;
      &:hover {
        color: $red;
        background: #fff;
      }
    }
    &__packshot {
      position: relative;
      z-index: 1;

      &--1 {
        max-width: 189px;

        &::before {
          position: absolute;
          content: '1';
          font-family: 'Roboto';
          color: #ebebeb;
          font-size: 230px;
          top: -50px;
          left: -70px;
          line-height: 1;
          z-index: -1;
        }
      }
      &--2 {
        max-width: 175px;

        &::before {
          position: absolute;
          content: '2';
          font-family: 'Roboto';
          color: #ebebeb;
          font-size: 230px;
          top: -68px;
          left: -60px;
          line-height: 1;
          z-index: -1;
        }
      }
      &--3 {
        max-width: 120px;

        &::before {
          position: absolute;
          content: '3';
          font-family: 'Roboto';
          color: #ebebeb;
          font-size: 230px;
          top: -50px;
          left: -60px;
          line-height: 1;
          z-index: -1;
        }
      }
    }
  }

  .es-faq {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      @include text;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      color: inherit;
      margin: 0 auto;
      text-align: center;
    }

    .es-accordion {
      margin: 0 auto;
      max-width: 1170px;
      padding-left: 15px;
      padding-right: 15px;

      &__element {
        margin: 0 auto;
        margin-bottom: 20px;
        background: #e03e2f;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      }

      &__element-content {
        font-size: 13px;
        color: #888885;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        background: #fff;
      }

      &__title {
        @include text;
        font-weight: 700;
        position: relative;
        padding: 17px 50px 17px 15px;
        font-size: 16px;
        color: #fff;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        cursor: pointer;
      }

      .acc-tab:before {
        font-family: 'FontAwesome';
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 100%;
        top: 0;
        right: 0;
        background: url(./images/plus.png) 50% 50% no-repeat;
        color: #fff;
        text-align: center;
        line-height: 50px;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
      }

      .acc-tab.active:before {
        background: url(./images/minus.png) 50% 50% no-repeat;
      }

      & > div:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .es-disclaimer {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    &__text {
      margin-top: 20px;
      @include text;
      font-size: 12px;
    }
  }

  .es-video {
    padding-left: 15px;
    padding-right: 15px;

    &__wrapper {
      position: relative;
      margin-bottom: 50px;
    }
    &__player {
      display: block;
      margin: 0 auto;
      width: 100%;
      object-fit: cover;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    &__image-icon {
      width: 53px;
      height: 53px;

      &--desktop {
        width: 116px;
        height: 116px;
      }
    }
    &__additional-description {
      min-width: 320px;
      margin-bottom: 32px;
      strong {
        text-transform: none;
      }
    }
    &__player {
      &--desktop {
        display: none;
      }
    }
    &__play-button {
      &--desktop {
        display: none;
      }
    }
  }

  @media screen and (min-width: 560px) {
    .es-kv {
      display: flex;
      &__images {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        flex: 1;
        flex-basis: 50%;
      }
      &__photo {
        order: -1;
        flex: 1;
        flex-basis: 50%;
      }
      &__content {
        min-height: 700px;
      }
    }

    .es-cross {
      &__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
      }
    }

    .es-video {
      &__player {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
      &__play-button {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      // margin-bottom: 32px;
    }
    .es-icons {
      display: block;
    }
    .es-ingr {
      margin-bottom: 64px;
      &__title {
        margin-bottom: 64px;
      }
      &__container {
        max-width: 730px;
        margin: 0 auto;
        padding: 0;
        justify-content: space-between;
      }
      &__single {
        padding: 0;
        max-width: 230px;
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
    .es-cross {
      &__container {
        justify-content: space-between;
      }
    }
  }

  @media screen and (min-width: 860px) {
    .es-cross {
      &__single:nth-child(3) {
        margin-right: 90px;
      }
    }

    .es-icons {
      &__title {
        font-size: 14px;
      }
    }
  }

  @keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideright {
    from {
      opacity: 0.3;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
